/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */


@import "compass";

$highlight-color: #268bd2;
$gray-color: rgba(0,0,0,.5);

$desktop-width: 48rem;
$large-desktop-width: 64rem;

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
@mixin large-desktop {
  @media (min-width: $large-desktop-width) {
    @content;
  }
}

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx){
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
      -moz-background-size: $width $height;
      -o-background-size: $width $height;
      background-size: $width $height;
    }
  }
}

@mixin square-size($length) {
  height: $length;
  width: $length;
}

/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  @media (min-width: 34em) {
    font-size: 18px;
  }
  @media (min-width: 48em) {
    font-size: 16px;
  }
  @media (min-width: 58em) {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* Links */
a {
  display: inline-block;
  &, &:after, &:before {
    @include transition(0.2s);
  }
  &:hover {
    text-decoration: none;
  }
}

.hover-underline {
  html:not(.touch) & {
    display: inline-block;
    position: relative;

    &:before {
      background-color: $highlight-color;
      bottom: 2px;
      content: "";
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      width: 0;
    }
    &:hover:before {
      left: 0;
      width: 100%;
    }
  }
}

.text-content a {
  @extend .hover-underline;
}
h1, h2, h3, h4, h5, h6 {
  a:hover {
    color: $highlight-color;
  }
}

/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  background-color: white;
  color: $gray-color;
  padding: 2rem 1rem;
  text-align: center;

  @include desktop {
    bottom: 0;
    left: 0;
    padding: 4rem 1rem;
    position: absolute;
    text-align: left;
    top: 0;
    width: 18rem;
  }

  .sidebar-about {
    line-height: 1em;
    p {
      margin-bottom: 0.6rem;
      display: none;
      @include desktop {
        display: block;
        margin-bottom: 1rem;
      }
    }
  }

  /* Sidebar links */
  .sidebar-nav a {
    &:hover {
      color: $highlight-color;
    }
    color: #515151;
  }

  .social-links {
    padding-bottom: 0.5rem;
    @include desktop {
      padding-bottom: 1.5rem;
    }
    a {
      background-color: rgba(0,0,0,0.4);
      border-radius: 50%;
      color: white;
      font-size: 0.9rem;
      margin-right: 5px;
      padding: 4px;

      &:hover {
        background-color: $highlight-color;
        opacity: 0.8;
      }
    }
  }

  /* About section */
  .sidebar-about h1 {
    color: black;
    font-size: 2.3rem;
    @include desktop {
      font-size: 2.5rem;
    }
    font-weight: 300;
    line-height: 1em;
    margin-top: 0;
  }

  /* Sidebar nav */
  .sidebar-nav {
    padding-left: 0;
    list-style: none;
    // margin-bottom: 0;
  }
  .sidebar-nav-item {
    display: inline;
    font-size: 1.1rem;
    font-weight: 300;
    margin: 0 5px;

    @include desktop {
      display: block;
      margin: 0;
    }

    &.active {
      font-weight: 500;
    }
  }
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48rem) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.centered-content {
  @include desktop {
    max-width: 38rem;
    margin-left: 18rem;
    margin-right: 2rem;
  }
  @include large-desktop {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

.content {
  @extend .centered-content;
  font-weight: 400;
  margin-bottom: -2rem;
  padding-bottom: 1rem;
  position: relative;

  @include desktop {
    min-height: 100%;
    padding-top: 4rem;
  }

  .post-date {
    color: $gray-color;
    font-weight: 300;
  }
}

.page {
  margin-bottom: 2rem;
}

html, body {
  height: 100%;
}

#copyright {
  @extend .centered-content;
  font-size: 0.75rem;
  padding: 0 1rem;
}

.profile-pic {
  @include square-size(100px);
  // background-image: url('../assets/profile.jpg');
  @include background-image-retina('../assets/profile', 'jpg', 100px, 100px);
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  margin-top: 8px;
  margin-right: 15px;
  position: relative;

  &, &::before { 
    border-radius: 50%;
  }
  &::before {
    background-color: white;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    content: "";
    position: absolute;
    z-index: -1;

    $avatar-inset: 3px;
    top:    -$avatar-inset;
    left:   -$avatar-inset;
    right:  -$avatar-inset;
    bottom: -$avatar-inset;
  }
}