/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */
/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\0000360}}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 34em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\0000360}}
  html {
    font-size: 18px;
  }
}
@media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\0000360}}
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\0000360}}
  html {
    font-size: 18px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\0000373}}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* Links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\0000378}}
a {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\0000380}}
a, a:after, a:before {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\0000383}}
a:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\0000389}}
html:not(.touch) .hover-underline, html:not(.touch) .text-content a, .text-content html:not(.touch) a {
  display: inline-block;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\0000393}}
html:not(.touch) .hover-underline:before, html:not(.touch) .text-content a:before, .text-content html:not(.touch) a:before {
  background-color: #268bd2;
  bottom: 2px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003103}}
html:not(.touch) .hover-underline:hover:before, html:not(.touch) .text-content a:hover:before, .text-content html:not(.touch) a:hover:before {
  left: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003114}}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #268bd2;
}

/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003126}}
.sidebar {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
  text-align: center;
  /* Sidebar links */
  /* About section */
  /* Sidebar nav */
}
@media (min-width: 48rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003126}}
  .sidebar {
    bottom: 0;
    left: 0;
    padding: 4rem 1rem;
    position: absolute;
    text-align: left;
    top: 0;
    width: 18rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003142}}
.sidebar .sidebar-about {
  line-height: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003144}}
.sidebar .sidebar-about p {
  margin-bottom: 0.6rem;
  display: none;
}
@media (min-width: 48rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003144}}
  .sidebar .sidebar-about p {
    display: block;
    margin-bottom: 1rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003155}}
.sidebar .sidebar-nav a {
  color: #515151;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003156}}
.sidebar .sidebar-nav a:hover {
  color: #268bd2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003162}}
.sidebar .social-links {
  padding-bottom: 0.5rem;
}
@media (min-width: 48rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003162}}
  .sidebar .social-links {
    padding-bottom: 1.5rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003167}}
.sidebar .social-links a {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  color: white;
  font-size: 0.9rem;
  margin-right: 5px;
  padding: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003175}}
.sidebar .social-links a:hover {
  background-color: #268bd2;
  opacity: 0.8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003183}}
.sidebar .sidebar-about h1 {
  color: black;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 1em;
  margin-top: 0;
}
@media (min-width: 48rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003183}}
  .sidebar .sidebar-about h1 {
    font-size: 2.5rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003195}}
.sidebar .sidebar-nav {
  padding-left: 0;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003200}}
.sidebar .sidebar-nav-item {
  display: inline;
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0 5px;
}
@media (min-width: 48rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003200}}
  .sidebar .sidebar-nav-item {
    display: block;
    margin: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003211}}
.sidebar .sidebar-nav-item.active {
  font-weight: 500;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */
@media (min-width: 48rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003224}}
  .sidebar-sticky {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
  }
}
/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */
@media (min-width: 48rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003239}}
  .centered-content, .content, #copyright {
    max-width: 38rem;
    margin-left: 18rem;
    margin-right: 2rem;
  }
}
@media (min-width: 64rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003239}}
  .centered-content, .content, #copyright {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003251}}
.content {
  font-weight: 400;
  margin-bottom: -2rem;
  padding-bottom: 1rem;
  position: relative;
}
@media (min-width: 48rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003251}}
  .content {
    min-height: 100%;
    padding-top: 4rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003263}}
.content .post-date {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003269}}
.page {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003273}}
html, body {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003277}}
#copyright {
  font-size: 0.75rem;
  padding: 0 1rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003283}}
.profile-pic {
  height: 100px;
  width: 100px;
  background-image: url("../assets/profile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  margin-top: 8px;
  margin-right: 15px;
  position: relative;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\0000339}}
  .profile-pic {
    background-image: url("../assets/profile@2x.jpg");
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    background-size: 100px 100px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003294}}
.profile-pic, .profile-pic::before {
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andrewr\/Dropbox\/Development\/Blog\/blog\/sass\/main\.scss}line{font-family:\00003297}}
.profile-pic::before {
  background-color: white;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
  content: "";
  position: absolute;
  z-index: -1;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
}
