/* Links */

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #268bd2;
  text-decoration: none;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

a {
  display: inline-block;
  &, &:after, &:before {
    @include transition(0.2s);
  }
  &:hover {
    text-decoration: none;
  }
}

.hover-underline {
  @include not-touch {
    display: inline-block;
    position: relative;

    &:before {
      background-color: $highlight-color;
      bottom: 2px;
      content: "";
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      width: 0;
    }
    &:hover:before {
      left: 0;
      width: 100%;
    }
  }
}

.text-content {
  &, *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    & > a:not(.image-link):not(.footnote-button) {
      @extend .hover-underline;
    }
  }
}
h1,h2,h3,h4,h5,h6 {
  a:hover {
    color: $highlight-color;
  }
}