/* Mixins */

// Media queries
@mixin desktop {
  @media (min-width: $desktop-width) { @content; }
}
@mixin not-desktop {
  @media (max-width: $desktop-width - 1) { @content; }
}
@mixin large-desktop {
  @media (min-width: $large-desktop-width) { @content; }
}
@mixin not-large-desktop {
  @media (max-width: $large-desktop-width - 1) { @content; }
}
@mixin mobile {
  @media (max-width: $mobile-width) { @content; }
}
@mixin not-mobile {
  @media (min-width: $mobile-width + 1) { @content; }
}

// Images
@mixin background-image-retina($file, $type) {
  background-image: url($file + '.' + $type);
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx){
    & {
      background-image: url($file + '@2x.' + $type);
      @include background-size(contain);
    }
  }
}

// Grid
@mixin grid-column($numcols, $padding) {
  & {
    display: inline-block;
    padding-right: $padding;
    width: percentage((1 / $numcols) - 0.01);
  }
  // &:nth-child(#{$numcols}n+1) {
  //   margin-left: percentage(($numcols / 2) / 100);
  // }
}

// Helpers
@mixin square-size($length) {
  height: $length;
  width: $length;
}