@mixin twocol-small-layout {
  @media (min-width: 32rem) and (max-width: $desktop-width) {
    @content;
  }
}
@mixin twocol-large-layout {
  @media (min-width: $desktop-width) {
    @content;
  }
}

.project-group-title {
  color: $gray-color;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  @include twocol-large-layout {
    text-align: left;
  }
}

.project-container {
  margin-bottom: 5rem;

  .project {
    display: block;
    margin: 0 auto 1rem;
    max-width: 24rem;
    min-width: 12rem;

    @media (min-width: 44rem) {
      margin-bottom: 1.5rem;
    }
    @include twocol-large-layout {
      @include grid-column(2, 8%);
    }
    @include twocol-small-layout {
      @include grid-column(2, 0%);
      padding: 0 0.5rem;
    }

    .project-title {
      a:not(:hover) {
        color: black;
      }
      margin-top: 0.5rem;
      margin-bottom: 0.2rem;
      text-align: center;
    }
    .project-summary {
      color: $gray-color;
      display: block;
      line-height: 1rem;
      margin: 0 auto;
      text-align: center;
    }
  }
}

$ss-height: 80%;
.ss-container {
  height: 0;
  position: relative;
  text-align: center;

  &, .ss-link, .screenshot {
    padding-bottom: $ss-height;
  }
  .ss-link {
    height: 0;
    width: 100%;
  }
}

.screenshot {
  width: 100%;
  min-height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 0;
}

@mixin zoom-on-hover($zoom) {
  & {
    @include single-transition(background-size, 0.2s);
  }
  .project-content:hover & {
    @include not-touch {
      background-size: $zoom;
    }
  }
}

.ss-container {
  .screenshot {
    background-position: center;
    @include zoom-on-hover(95%);
  }
  #ssi-abstergo {
    background-position: 50% 27%;
  }
  #ssi-jukebox {
    background-position: 50% 39%;
  }
  #ssi-merge {
    background-position: 50% 54%;
  }
  #ssi-planz {
    @include zoom-on-hover(230%);
    background-size: 250%;
    background-position: 50% 0%;
  }
  #ssi-lecture {
    @include zoom-on-hover(185%);
    background-size: 193%;
    background-position: 2% 2%;
  }
}
